.sidebar{
    display: none;
  }

.searchBar{
  position: absolute;
  right: 1rem;
  width: 20vw;
  z-index: 999;
}

.logo{
  height: 4.5vw;
  width: 8.5vw;
}

.skeleton{
  gap: 22vw;
  padding-left: 4rem /* 64px */;
  padding-right: 4rem /* 64px */;
  display: flex;
}


.container{
  padding-left: 3.5rem /* 56px */;
  padding-right: 3.5rem /* 56px */;
  padding-bottom: 1.5rem /* 24px */;
}

@media (max-width: 1118px) {
  .mainnav {
    display: none;
  }

  .sidebar{
    display: flex;
  }

  .container{
    justify-content: space-between;
  }

  .searchBar{
    position: relative;
    width: 60vw;
    z-index: 20;
  }
}


/* MObile max width of 640px*/
@media (max-width: 640px) {
  .searchBar{
    display: none;
  }

  .container{
  padding-left: 1rem /* 16px */;
  padding-right: 1rem /* 16px */;
  padding-bottom: 1rem /* 24px */;
}

  .logo{
  height: 3.6rem;
  width: 7rem;
}

.skeleton{
  display: none;
}
}

/* tablets max width of 1024px */
/* Target screens for tablets (641px to 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem /* 24px */;
  }

  .skeleton{
    display: none;
  }
  
}

